In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import sklearn.metrics as classification
from sklearn import metrics
from sklearn import tree

In [2]:
df=pd.read_csv('Season.csv')

In [3]:
df.head()

,Unnamed: 0,food_items,season,min_prize,max_prize,date,model prize
0,0,Gram,Spring,63.72,86.09,2022-09-27,74.905
1,1,Onion,Monsoon,42.06,57.28,2023-02-21,49.670
2,2,Vanaspati oil,Spring,169.66,208.63,2023-07-22,189.145
3,3,Gram,Monsoon,60.94,91.31,2022-12-30,76.125
4,4,Groundnut oil,Monsoon,197.46,206.10,2023-10-28,201.780

In [4]:
df=df.drop(columns=("Unnamed: 0"))

In [5]:
df

         food_items   season  min_prize  max_prize        date  model prize
0              Gram   Spring      63.72      86.09  2022-09-27       74.905
1             Onion  Monsoon      42.06      57.28  2023-02-21       49.670
2     Vanaspati oil   Spring     169.66     208.63  2023-07-22      189.145
3              Gram  Monsoon      60.94      91.31  2022-12-30       76.125
4     Groundnut oil  Monsoon     197.46     206.10  2023-10-28      201.780
...             ...      ...        ...        ...         ...          ...
2195          Sugar  Monsoon      41.01      58.55  2024-06-08       49.780
2196           Atta  Monsoon      38.76      51.95  2023-10-04       45.355
2197            Tea   Winter     104.34     153.85  2023-08-09      129.095
2198           Gram   Spring      62.48      77.04  2024-07-13       69.760
2199           Salt  Monsoon      10.07      32.86  2022-08-26       21.465

[2200 rows x 6 columns]

In [6]:
X = df.iloc[:, :-2]
y = df['model prize']

In [7]:
X=X.values

In [8]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, train_size=0.8, random_state=0, shuffle=True)

In [9]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import StandardScaler
ohe = OneHotEncoder(drop='first',sparse_output=False)
scale = StandardScaler()

preprocesser = ColumnTransformer(
        transformers = [
            ('StandardScale', scale, [2, 3]),
            ('OHE', ohe, [0,1]),
        ],
        remainder='passthrough'
)

In [10]:
X_train_dummy = preprocesser.fit_transform(X_train)
X_test_dummy = preprocesser.transform(X_test)

In [11]:
preprocesser.get_feature_names_out()

array(['StandardScale__x2', 'StandardScale__x3', 'OHE__x0_Gram',
       'OHE__x0_Groundnut oil', 'OHE__x0_Gur', 'OHE__x0_Masur',
       'OHE__x0_Milk', 'OHE__x0_Moong', 'OHE__x0_Mustard Oil',
       'OHE__x0_Onion', 'OHE__x0_Palm oil', 'OHE__x0_Potato',
       'OHE__x0_Rice', 'OHE__x0_Salt', 'OHE__x0_Soya oil',
       'OHE__x0_Sugar', 'OHE__x0_Sunflower oil', 'OHE__x0_Tea',
       'OHE__x0_Tomato', 'OHE__x0_Tur', 'OHE__x0_Urad',
       'OHE__x0_Vanaspati oil', 'OHE__x0_Wheat', 'OHE__x1_Spring',
       'OHE__x1_Summer', 'OHE__x1_Winter'], dtype=object)

In [12]:
#linear regression
from sklearn.linear_model import LinearRegression,Lasso,Ridge
from sklearn.neighbors import KNeighborsRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import mean_absolute_error,r2_score


models = {
    'lr':LinearRegression(),
    'lss':Lasso(),
    'Rid':Ridge(),
    'Dtr':DecisionTreeRegressor()
}
for name, md in models.items():
    md.fit(X_train_dummy,y_train)
    y_pred = md.predict(X_test_dummy)
    
    print(f"{name} : mae : {mean_absolute_error(y_test,y_pred)} score : {r2_score(y_test,y_pred)}")

lr : mae : 1.610025244438227e-14 score : 1.0
lss : mae : 0.8665534614527874 score : 0.9997411013583232
Rid : mae : 0.04878224898287542 score : 0.9999989436755323
Dtr : mae : 1.0355454545454543 score : 0.9993216995110177

In [14]:
lr = LinearRegression()
lr.fit(X_train_dummy,y_train)
lr.predict(X_test_dummy)

array([ 94.66 ,  38.865, 209.025, 153.255,  43.455, 168.605,  29.015,
        65.625, 205.265,  53.145, 209.285,  63.555, 170.6  , 166.315,
       196.295,  50.58 ,  53.82 ,  35.835,  64.835, 197.09 ,  86.535,
        76.365,  23.185,  63.455,  88.01 ,  49.78 , 101.34 ,  97.855,
        45.495,  49.17 , 181.84 , 154.84 ,  43.045,  67.11 ,  78.88 ,
        37.565,  34.86 ,  58.825,  44.345,  80.825, 139.925, 172.005,
       165.965,  40.055,  57.845, 204.765,  15.005,  70.67 ,  69.015,
       134.395, 199.545,  72.28 ,  63.995,  39.31 ,  46.615, 162.36 ,
        38.09 ,  46.32 , 241.08 ,  99.345, 111.24 , 146.03 , 173.225,
        88.76 ,  42.51 , 168.97 ,  56.98 ,  55.19 , 191.845,  42.145,
        63.485,  38.03 ,  34.475,  33.575, 197.43 ,  96.555,  45.795,
        43.36 , 171.51 ,  72.75 , 216.24 ,  66.2  ,  58.615,  68.23 ,
       193.86 ,  90.975, 203.815,  39.53 ,  62.525, 220.655,  44.94 ,
        77.72 ,  27.855,  30.58 ,  40.25 , 175.025, 129.095,  58.115,
       208.495, 100.01 , 220.87 ,  80.765,  43.67 ,  29.25 ,  37.515,
        57.925, 103.775,  42.905,  91.21 ,  65.945,  38.545,  31.18 ,
        42.345,  60.125, 196.115,  68.52 ,  39.165, 202.41 ,  28.31 ,
        76.735, 165.165, 187.53 , 198.705,  55.16 , 196.855,  63.805,
       254.345,  91.345, 171.07 ,  55.365,  66.785,  46.68 ,  45.815,
        53.62 ,  79.905,  45.435,  69.32 ,  74.88 , 196.33 , 236.03 ,
       100.96 ,  36.015,  64.375,  45.355, 170.195,  53.425,  74.87 ,
        48.695,  47.19 ,  79.635,  45.995,  46.72 ,  88.07 ,  68.11 ,
       174.59 , 101.825,  78.705, 202.595,  28.64 , 174.275,  99.34 ,
       162.035, 145.245,  67.405, 186.555,  68.865,  50.985,  43.715,
        77.875, 107.71 ,  55.44 , 144.575,  44.815,  45.05 , 192.915,
        55.84 , 105.395, 206.81 , 104.31 , 179.775, 179.345,  44.365,
       205.08 ,  89.605, 184.41 ,  91.945,  40.155,  59.06 , 143.1  ,
        94.29 ,  57.31 , 198.83 ,  86.355, 174.97 , 165.54 ,  36.53 ,
        61.36 ,  91.42 , 186.735,  45.705, 174.17 , 174.885, 170.195,
        73.25 , 207.035, 106.255,  76.67 ,  87.47 ,  70.975,  67.08 ,
       243.76 , 231.09 ,  61.465,  88.99 , 253.965,  22.92 , 242.18 ,
        82.9  , 190.32 ,  59.905, 155.34 ,  30.21 ,  30.32 ,  63.72 ,
        74.135,  62.835,  35.705,  71.11 , 176.36 ,  42.615,  49.585,
        75.71 ,  56.9  ,  30.525, 155.25 , 176.855,  55.45 ,  43.135,
        58.185,  39.895,  52.07 ,  49.31 ,  56.39 , 201.88 ,  59.51 ,
       178.885,  16.315,  95.325, 103.92 ,  61.475,  49.33 ,  99.65 ,
        62.81 , 192.025,  63.35 , 186.39 ,  47.93 ,  29.65 ,  57.43 ,
       201.205, 180.025,  72.32 ,  84.01 , 203.01 , 197.455,  67.495,
        37.565,  15.95 ,  98.065,  85.605,  51.855,  36.335,  87.295,
        36.975,  30.285,  38.83 ,  81.965,  19.235,  38.575,  98.005,
        79.34 ,  50.55 ,  84.1  , 172.11 ,  40.855, 183.17 ,  45.33 ,
        53.23 ,  35.9  ,  63.28 ,  67.45 , 167.485,  62.235, 208.905,
        44.4  , 163.57 , 191.965,  79.01 ,  25.455,  67.245,  21.515,
       156.19 ,  63.12 ,  12.135,  88.87 ,  26.025,  56.425,  94.62 ,
       148.815,  36.5  , 252.73 , 163.5  ,  61.715,  43.71 ,  75.31 ,
        64.265,  61.08 ,  95.6  ,  44.785,  48.505,  80.205,  53.655,
       173.865,  46.405,  81.485,  52.365,  86.535,  63.465, 168.96 ,
        47.99 ,  78.565,  30.155,  26.925,  55.925, 103.72 , 163.675,
        57.13 ,  58.35 ,  92.535,  39.18 , 243.86 , 211.32 ,  50.02 ,
        52.32 ,  74.735, 183.16 , 152.185, 206.1  ,  90.24 ,  28.475,
        61.39 , 161.345,  60.16 , 225.64 ,  34.465,  54.465,  69.775,
       197.075, 179.215, 158.92 ,  85.81 ,  34.585,  44.89 ,  61.675,
        90.295,  57.82 ,  60.1  , 211.01 ,  87.08 ,  48.71 ,  52.87 ,
       196.645, 172.465,  54.355, 211.765,  59.71 ,  27.295, 147.355,
       164.12 ,  50.41 ,  35.065, 218.18 , 171.18 ,  50.005,  27.605,
       183.155,  66.45 ,  79.51 , 207.04 , 189.565,  49.14 , 209.645,
        18.13 , 188.41 ,  63.955,  45.63 , 136.16 ,  83.57 ,  75.625,
        60.32 ,  40.67 ,  37.185,  56.15 ,  20.155, 100.28 , 190.345,
        41.775,  31.955,  57.535,  37.35 ,  60.465,  55.36 , 207.125,
       177.925, 175.78 ,  82.17 , 150.695,  58.51 , 206.56 ,  30.205,
        81.31 ,  49.67 , 235.68 , 106.905,  67.695,  74.84 ,  25.6  ,
        48.045,  82.   ,  42.455,  41.76 ,  48.87 , 148.73 ,  27.16 ,
        43.725, 166.18 ,  77.785, 170.235,  79.19 , 104.645])

In [15]:
def prediction(food_items,season,min_prize,max_prize):
    # Create an array of the input features
    features = np.array([[food_items,season,min_prize,max_prize]], dtype=object)

    # Transform the features using the preprocessor
    transformed_features = preprocesser.transform(features)

    # Make the prediction
    predicted_yield = lr.predict(transformed_features).reshape(1, -1)

    return predicted_yield[0]
result = prediction('Gram','Spring',63.72,86.09)

In [16]:
result

array([74.905])