In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

In [2]:
df=pd.read_csv("mandi food rates.csv")

In [3]:
df.head()

,State,District,Market,Commodity,Variety,Grade,Arrival_Date,Min_x0020_Price,Max_x0020_Price,Modal_x0020_Price
0,Andhra Pradesh,Guntur,Tenali,Black Gram (Urd Beans)(Whole),Black Gram (Whole),FAQ,19/08/2024,8600,8800,8700
1,Andhra Pradesh,Kurnool,Nandyal,Bengal Gram(Gram)(Whole),Desi (Whole),FAQ,19/08/2024,5500,5500,5500
2,Himachal Pradesh,Bilaspur,Bilaspur,Onion,Other,FAQ,19/08/2024,4000,4200,4100
3,Himachal Pradesh,Kangra,Kangra,Onion,Other,FAQ,19/08/2024,4200,4500,4300
4,Himachal Pradesh,Kangra,Kangra(Jaisinghpur),Onion,1st Sort,FAQ,19/08/2024,4500,4600,4550

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 678 entries, 0 to 677
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   State              678 non-null    object
 1   District           678 non-null    object
 2   Market             678 non-null    object
 3   Commodity          678 non-null    object
 4   Variety            678 non-null    object
 5   Grade              678 non-null    object
 6   Arrival_Date       678 non-null    object
 7   Min_x0020_Price    678 non-null    int64
 8   Max_x0020_Price    678 non-null    int64
 9   Modal_x0020_Price  678 non-null    int64
dtypes: int64(3), object(7)
memory usage: 53.1+ KB

In [5]:
df.isnull().sum()

State                0
District             0
Market               0
Commodity            0
Variety              0
Grade                0
Arrival_Date         0
Min_x0020_Price      0
Max_x0020_Price      0
Modal_x0020_Price    0
dtype: int64

In [6]:
df.duplicated().sum()

0

In [7]:
a=df.describe()

In [8]:
a.corr()

                   Min_x0020_Price  Max_x0020_Price  Modal_x0020_Price
Min_x0020_Price           1.000000         0.999782           0.999789
Max_x0020_Price           0.999782         1.000000           0.999987
Modal_x0020_Price         0.999789         0.999987           1.000000

In [9]:
len(a)

8

In [10]:
list1=['Other','Desi (Whole)','1st Sort','IR-8', 'Mill Quality', 'Bengal Gram Dal','Hybrid',"Bellary",'Jyoti','Green (Whole)', 'Green Gram Dhall-I', 'Fine','(Red Nanital)','Local','Small','Kala Masoor New','Black Gram (Whole)','Kala Masoor New','Sonalika','Average (Whole)','Black Gram Dal','Big','Mataa Parboiled','Pusa-Red','Bengal Gram (Split)','Kufri Megha','Dara']

In [11]:
df=df[df.Variety.isin(list1) == False]

In [12]:
var=df['Variety']

In [13]:
def change(x):
    if x=="Arhar Dal(Tur)":
        return "Tur"
    if x=="Masur Dal":
        return "Masur"
    if x=="Fine(Basmati)":
        return "Rice"

    if x=="Desi":
        return "Urad"

    if x=="Green Gram Dal":
        return "Moong"

    if x=="Chips":
        return "Atta"

    if x=="Chandermukhi":
        return "Groundnut oil"

    if x=="Red":
        return "Soya oil"

    if x=="Masuri":
        return "Milk"

    if x=="Jalander":
        return "Salt"

    if x=="Sunflower":
        return "Sunflower oil"

    if x=="Badshah":
        return "Sugar"

    if x=="U.P. (Split)":
        return "Gur"

    if x=="Bold":
        return "Tea"

    if x=="Nasik":
        return "Tomato"

    if x=="Malwa Shakti":
        return "Palm oil"

    if x=="Common":
        return "Vanaspati oil"
    
    return x

In [14]:
var2=var.apply(change)

In [15]:
df['Variety'] = var2

In [16]:
a=df['Variety'].unique()
a

array(['Potato', 'Onion', 'Tea', 'Atta', 'Masur', 'Tur', 'Tomato', 'Urad',
       'Salt', 'Milk', 'Soya oil', 'Moong', 'Gram', 'Wheat', 'Palm oil',
       'Groundnut oil', 'Vanaspati oil', 'Sunflower oil', 'Sugar', 'Gur',
       'Mustard Oil', 'Rice'], dtype=object)

In [17]:
len(a)

22

In [18]:
df=df.drop(["Commodity","Grade","Market"],axis=1)

In [20]:
df.reset_index()

,index,State,District,Variety,Arrival_Date,Min_x0020_Price,Max_x0020_Price,Modal_x0020_Price
0,8,Kerala,Kottayam,Potato,19/08/2024,4400,4600,4500
1,10,Kerala,Kottayam,Onion,19/08/2024,7500,8600,8000
2,12,Kerala,Malappuram,Tea,19/08/2024,11500,11600,11550
3,15,Madhya Pradesh,Ujjain,Atta,19/08/2024,2200,2200,2200
4,16,Manipur,Bishnupur,Masur,19/08/2024,9500,10000,9750
...,...,...,...,...,...,...,...,...
140,666,West Bengal,Bankura,Vanaspati oil,19/08/2024,3400,3600,3500
141,667,West Bengal,Bankura,Vanaspati oil,19/08/2024,3550,3700,3600
142,668,West Bengal,Birbhum,Vanaspati oil,19/08/2024,3350,3450,3400
143,674,West Bengal,Jalpaiguri,Tomato,19/08/2024,4300,4500,4400
144,676,West Bengal,Murshidabad,Soya oil,19/08/2024,3530,3570,3555